@charset "utf-8";

body{
  margin:0;
  background-color:rgb(255 255 205);
}

header{
  background-color:pink;
  height:100px;
}

h1{
  margin:0;
}

/* タイトルの色分けクラス */
.title-blue {
  color: blue;
}

.title-brown {
  color: brown;
}

.title-purple {
  color: blueviolet;
}

h3{
  background-color:skyblue;
  height:50px;
  padding-top:25px;
}

.map{
  text-align:right;
  padding:7px;
}

.iki{
  display: inline-block;
  width: 88px;
  height: 32px;
  border: 1px solid black;
  border-radius: 8px;
  text-align: center;
  line-height: 32px;
  text-decoration: none;
  color: inherit;
}

.kaeri{
  display: inline-block;
  width: 88px;
  height: 32px;
  border: 1px solid black;
  border-radius: 8px;
  text-align: center;
  line-height: 32px;
  text-decoration: none;
  color: inherit;
}

table {
  border-collapse: collapse;
  width: 400px;
}

th {
  border: 1px solid black;
  padding: 8px;
  background: lightgray;
}

td {
  border: 1px solid black;
  padding: 8px;
}

button:hover{
  font-weight:bold;
}

@media (min-width: 900px) {
  body {
    background: rgb(255 205 205);
  }
  header{
    background-color:yellow;
    height:100px;
  }
  
  h1{
    margin:0;
  }
  
  h3{
    background-color:green;
    height:50px;
    padding-top:25px;
  }
  
  .map{
    text-align:right;
    padding:7px;
  }
  
  .iki{
    display: inline-block;
    width: 88px;
    height: 32px;
    border: 1px solid black;
    border-radius: 8px;
    text-align: center;
    line-height: 32px;
    text-decoration: none;
    color: inherit;
  }
  
  .kaeri{
    display: inline-block;
    width: 88px;
    height: 32px;
    border: 1px solid black;
    border-radius: 8px;
    text-align: center;
    line-height: 32px;
    text-decoration: none;
    color: inherit;
  }
  
  table {
    border-collapse: collapse;
    width: 400px;
  }
  
  th {
    border: 1px solid black;
    padding: 8px;
    background: lightgray;
  }
  
  td {
    border: 1px solid black;
    padding: 8px;
  }
  
  button:hover{
    font-weight:bold;
  }
}